/*
|--------------------------------------------------------------------------
| $NAV
|--------------------------------------------------------------------------
*/


/**
 * When used on an <ol> or <ul>, this class throws the list into horizontal mode
 *
 * @link csswizardry.com/2011/09/the-nav-abstraction
 *
 * 1. Make sure we take away any identation that may be applied to lists
 */

.nav {
    list-style: none;
    margin-left: 0;   /* 1 */
    padding-left: 0;  /* 1 */

    > li {

        &,
        > a {
            display: inline-block;
        }
    }
}


/**
 * Provides slider-like navigation
 *
 * @extends .nav
 *
 * 1. Set each item to a square, needed for the circular shape
 * 2. Creates the circular shape
 * 3. Adjacent elements will be spaced out
 */

.nav--tablets {

    > li {
        + li {
            @include rem(margin-left, halve($half-spacing-unit));  /* 3 */
        }

        > a {
            display: block;
            background: #95a5a6;
            border-radius: 100%;         /* 2 */
            @include rem(width, 16px);   /* 1 */
            @include rem(height, 16px);  /* 1 */

            &:hover,
            &.current {
                background: #7f8c8d;
            }
        }
    }
}
