/*
|--------------------------------------------------------------------------
| $ELEMENTS.HEADINGS
|--------------------------------------------------------------------------
*/


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $base-heading-font-stack;
    font-weight: $base-heading-font-weight;
    line-height: $base-heading-line-height;
    color: $base-heading-font-colour;
}

/**
 * Use the type mixin to set heading sizes based on the type scale set for the
 * project
 */
@include type();
