/*
|--------------------------------------------------------------------------
| $ELEMENTS.LINKS
|--------------------------------------------------------------------------
*/


a {
    color: $brand;
    text-decoration: none;
    transition: color .2s ease-in-out;

    @include hocus {
        color: darken($brand, 10%);
    }
}
