/*
|--------------------------------------------------------------------------
| $CONFIG.COLOURS
|--------------------------------------------------------------------------
*/


/**
 * Standard colours
 */
$white: #fff;
$black: #000;





/**
 * Brand colours
 */
$brand: #bada55;
