/*
|--------------------------------------------------------------------------
| $CONFIG.COLOURS
|--------------------------------------------------------------------------
*/


/**
 * Standard colours
 */

$white: #fff;
$black: #000;


/**
 * Brand colours
 */

$brand: #e74c3c;
