/*
|--------------------------------------------------------------------------
| $CONFIG.STRUCTURAL
|--------------------------------------------------------------------------
*/


/**
 * Spacing units for elements
 */

$base-spacing-unit: $base-font-size * $base-line-height;
$small-spacing-unit: round(halve($base-spacing-unit));
$large-spacing-unit: round(double($base-spacing-unit));





/**
 * Gutter width for the grid
 */

$gutter-width: $base-spacing-unit;
