/*
|--------------------------------------------------------------------------
| $CONFIG.TYPOGRAPHY
|--------------------------------------------------------------------------
*/

$light: 300;
$regular: 400;
$bold: 800;

$base-font-size: 16px;
$base-line-height: 1.45;
$base-font-stack: sans-serif;
$base-font-colour: #333;
$base-font-weight: $regular;

$base-heading-line-height: 1.2;
$base-heading-font-stack: $base-font-stack;
$base-heading-font-colour: #434343;
$base-heading-font-weight: $bold;

$base-type-scale: 1.250;
