/*
|--------------------------------------------------------------------------
| $CONFIG.TYPOGRAPHY
|--------------------------------------------------------------------------
*/


/**
 * Font weights
 */

$light: 300;
$regular: 400;
$bold: 800;


/**
 * Base font settings
 */

$base-font-size: 16px;
$base-line-height: 1.45;
$base-font-stack: sans-serif;
$base-font-colour: #333;
$base-font-weight: $regular;


/**
 * Headings font settings
 */

$base-heading-line-height: 1.2;
$base-heading-font-stack: $base-font-stack;
$base-heading-font-colour: #434343;
$base-heading-font-weight: $bold;


/**
 * The typescale used to generate heading
 * sizes
 */

$base-type-scale: 1.250;
