/*
|--------------------------------------------------------------------------
| $CONFIG
|--------------------------------------------------------------------------
*/


/**
 * Typography
 */

$light: 300;
$regular: 400;
$bold: 800;

$base-font-size: 16px;
$base-line-height: 1.45;
$base-font-stack: sans-serif;
$base-font-colour: #333;
$base-font-weight: $regular;

$base-heading-line-height: 1.2;
$base-heading-font-stack: $base-font-stack;
$base-heading-font-colour: #434343;
$base-heading-font-weight: $bold;

$base-type-scale: 1.250;





/**
 * Colours
 */

$white: #fff;
$brand: #e74c3c;

/* This colour is used for the rgb fallbacks mixin */
$rgba-background-colour: rgb(127, 127, 127);





/**
 * Structural
 */

$gutter-width: 18px;
$half-gutter-width: halve($gutter-width);
$double-gutter-width: double($gutter-width);

$base-spacing-unit: $base-font-size * $base-line-height;
$half-spacing-unit: halve($base-spacing-unit);
$double-spacing-unit: double($base-spacing-unit);
