/*
|--------------------------------------------------------------------------
| $FUNCTIONS
|--------------------------------------------------------------------------
*/


/**
 * Raise `$base` to `$exponent`
 *
 * @param {integer|float} $base
 * @param {integer}       $exponent
 *
 * @return {integer}
 */

@function pow($base, $exponent) {
    $value: $base;

    @if $exponent > 1 {
        @for $i from 2 through $exponent {
            $value: $value * $base;
        }
    } @else if $exponent < 1 {
        @for $i from 0 through -$exponent {
            $value: $value / $base;
        }
    }

    @return $value;
}





/**
 * Strip any units from `$value`
 *
 * @param {string} $value
 *
 * @return {integer}
 */

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}





/**
 * Double `$value`
 *
 * @param {integer} $value
 *
 * @return {integer}
 */

@function double($value) {
    @return $value * 2;
}





/**
 * Halve `$value`
 *
 * @param {integer} $value
 *
 * @return {integer}
 */

@function halve($value) {
    @return $value * .5;
}
