/*
|--------------------------------------------------------------------------
| $LAYOUT
|--------------------------------------------------------------------------
*/


/**
 * Apply a sensible box model to our site
 */

* {

    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }
}





/**
 * Set a vertical rhythm for our site
 *
 * All block level elements get an identical margin-bottom, which
 *
 * 1. Remove the margin from the last child of an element to
 *    avoid extra margin
 */

section, article, header, footer, nav, aside, div,
h1, h2, h3, h4, h5, h6, hgroup,
.h1, .h2, .h3, .h4, .h5, .h6,
%h1, %h2, %h3, %h4, %h5, %h6,
ul, ol, dd,
p, figure, small,
pre, table, fieldset, hr,
address {
    @include rem(margin, 0 0 $base-spacing-unit);

    > :last-child {
        margin-bottom: 0;  /* 1 */
    }
}





/**
 * Responsive images
 */

img {
    max-width: 100%;
    height: auto;
}
