/*
|--------------------------------------------------------------------------
| $HELPERS
|--------------------------------------------------------------------------
*/


/**
 * Stop text from wrapping
 */

%no-wrap {
    white-space: nowrap;
}





/**
 * Truncate text that goes onto more than one line
 */

%truncate {
    @extend %no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





/**
 * Hide visually and from screen readers
 */

.hidden,
%hidden {
    display: none;
    visibility: hidden;
}





/**
 * Hide only visually, but have it available for screen readers
 *
 * @link h5bp.com/v
 */

.visuallyhidden,
%visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}





/**
 * Hide visually and from screen readers, but maintain layout
 */

%invisible {
    visibility: hidden;
}
