/*
|--------------------------------------------------------------------------
| $TYPOGRAPHY
|--------------------------------------------------------------------------
*/


/**
 * Root typography settings
 */

html {
    font-family: $base-font-stack;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    color: $base-font-colour;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}





/**
 * Text selection
 */

::selection {
    background: $brand;
    color: $white;
}

::-moz-selection {
    background: $brand;
    color: $white;
}





/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $base-heading-font-stack;
    font-weight: $base-heading-font-weight;
    line-height: $base-heading-line-height;
    color: $base-heading-font-colour;
}

h1,
.h1 {
    @include rem(font-size, $h1-font-size);
}

h2,
.h2 {
    @include rem(font-size, $h2-font-size);
}

h3,
.h3 {
    @include rem(font-size, $h3-font-size);
}

h4,
.h4 {
    @include rem(font-size, $h4-font-size);
}

h5,
.h5 {
    @include rem(font-size, $h5-font-size);
}

h6,
.h6 {
    @include rem(font-size, $h6-font-size);
}





/**
 * Body text
 */

a {
    color: $brand;
    text-decoration: none;
    @include transition(color, .1s, ease-in-out);

    &:hover {
        color: darken($brand, 10%);
    }
}
