/*
|--------------------------------------------------------------------------
| $HELPERS
|--------------------------------------------------------------------------
*/


/**
 * Stop text from wrapping
 */

%no-wrap {
    white-space: nowrap;
}





/**
 * Hide visually and from screen readers
 */

.hidden,
%hidden {
    display: none;
    visibility: hidden;
}





/**
 * Hide visually, but have it available for screen readers
 *
 * @link h5bp.com/v
 */

.screenreader-text,
%screenreader-text {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
